:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
.copyrights {
  font-size: 18px;
}
h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.site-logo {
  max-width: 200px;
  min-height: 200px;
  object-fit: contain;
}

.navbar-bg-brand {
  background-color: var(--secondary-color);
}
.navbar-bg {
  background-color: white;
}
.navlink {
  color: #272142;
}
.objective {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 40px;
}

.portret {
  height: 750px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.projects-image {
  max-width: 100%;
  height: 70%;
  display: block;
  margin: auto;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 60px;
}

.content-container {
  padding: 60px 20px 0px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.more-work {
  font-size: 30px;
  line-height: 40px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

/* .content p { */
/* font-size: 14px; */
/* } */

.content {
  margin: 30px;
}

.center-img {
  display: block;
  margin: 0 auto;
}
.introduction {
  font-size: 40px;
  margin: 70px 0px 70px 0px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
  display: inline-block;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}
.position {
  padding-left: 200px;
}
.desciption {
  padding: 20px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

.description-list {
  font-size: 20px;
}
.company {
  margin-top: 100px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.navbar-toggler {
  border-color: var(--branding-color);
}
footer {
  margin: 80px 0;
}
.navbar-brand {
  padding-left: 150px;
  color: var(--branding-color);
}
.navbar-collapse {
  padding-right: 150px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.experience-title {
  margin-bottom: 90px;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.contacts {
  margin-bottom: 150px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .introduction {
    line-height: 40px;
  }
  .content h1 {
    font-size: 44px;
    line-height: 1.2;
  }

  h2 {
    font-size: 44px;
  }
  .hero h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 30px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .desciption {
    padding: 0;
    text-align: center;
  }
  .content-container {
    padding: 20px 20px;
  }
  .desciption ul {
    text-align: left;
  }
  .company-logo {
    display: block;
    margin: auto;
  }
  .position {
    text-align: center;
    padding-left: 0px;
  }
  .copyrights {
    font-size: 16px;
  }
  .navbar-brand {
    padding-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .tablet-image {
    padding-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .desciption {
    padding-top: 20px;
  }
  .navbar-collapse {
    padding-right: 0px;
  }
}
